.breadcrumbs{
    margin: 0 0 1.5rem;
    border-bottom: 1px solid gray;
    padding: 0 0 1rem;
    span[property="itemListElement"]{
        a{
            color:#58595b;
            font-weight: bold;
        }
    }
}
